rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

     /* fcmTokens */
    match /fcmTokens/{document} {
     allow write, read: if request.auth != null;
    }

    /* Services */
    match /services/{document} {
     allow write, read;
    }
    
     /* userCollection */
    match /userCollection/{document} {
      allow write, read;
    }

      /* superAdmins */
    match /superadmins/{document} {
     allow write, read;
    }
    
     /* Tickets */
    match /tickets/{document} {
     

       allow write, read;
    }
   

  }
}