::ng-deep snack-bar-container.errconf{
    background-color: red;
    color: white;
    text-align: center;
  }


  ::ng-deep snack-bar-container.succonf{
    background-color: green;
    color: white;
    text-align: center;
  }