html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E5E9EA;
    
    #auth-wrapper{
       
            mat-drawer-container.auth-wrapper{
                position: relative;
                top: 100px;
                margin-left: auto;
                margin-right: auto;
                height: 65vh;
                width: 50vw;
                border-radius: 5px;
                box-shadow: lightgray ;
     
                mat-drawer{
                 background-color: #0079FB;
                 width: 20vw;
                 color: white;
                 text-align: center;

                   img.authVector{
                      position: relative;
                      top: 30px;
                      width: 20%;
                   }
                    
                   .side-auth-text{
                       position: relative;
                       top: 70px;

                       p.head{
                           font-size: 1.3rem;
                           letter-spacing: 2px;
                       }

                       p.small{
                        font-size: 0.9rem;
                        padding: 10px;
                       }
                   }


                }
     
                mat-drawer-content{
                 background-color: white;
                 padding: 50px;
                
                 .loginForm {
                     position: relative;
                     top: 20px;

                        .example-full-width{
                        width: 100%;
                        }
    
                        .buttonCenter{
                        position: relative;
                        text-align: center;
                        top: 20px;

                        button.loginButton{                       
                        width: 50%;
                        border-radius: 30px;
                        }
    
                    }
                }  
                
                .loginFormFooter{
                    position: relative;
                    top: 50px;

                    button{
                        margin-left: 5px;
                    }
                }
                  
            }
    
        }
    
    }
             
           
}

           

           
    



 

