<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Unified Queueing System</title>



  <!-- Custom fonts for this template -->

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">


  <link rel="stylesheet"
    href="https://blackrockdigital.github.io/startbootstrap-new-age/device-mockups/device-mockups.min.css">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">UQS</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/docs">Documentation</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Unified queueing system is an app that will make you forget about "waiting-inline" </h1>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="../../assets/screen.jpg" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  

  <section class="features" id="features">
    <div class="container"> 
      <div class="section-heading text-center">
        <h2>Simple yet efficient.</h2>

        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="../../assets/screen.jpg" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Create Ticket</h3>
                  <p class="text-muted">Create ticket anytime, anywhere!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>No waiting-inline</h3>
                  <p class="text-muted">Yes! we will notify you if your turn is near!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>Services</h3>
                  <p class="text-muted">Lots of Universities, Government Agencies and Banks are now partnered with UQS!
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock-open text-primary"></i>
                  <h3>Paperless</h3>
                  <p class="text-muted">By using UQS, there will be no paper needed for you to get a ticket!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2 class="text-white">Documentation</h2>

      <div class="my-3 p-3 text-white rounded shadow-sm text-left text-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
       
  
        <div class="media text-white pt-3">
          <img src="../../assets/logo.svg" alt=""  width="32" height="32" class="img-fluid mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@THEUQSTEAM</strong>
           ADDED REST API + Mobile App Works normally | March 5, 2020 
          </p>
        </div>
  
        
        <div class="media text-white pt-3">
          <img src="../../assets/logo.svg" alt=""  width="32" height="32" class="img-fluid mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@THEUQSTEAM</strong>
           App now works normally and how we want it but needs more work | February 19, 2020 
          </p>
        </div>
  
  
    
        <div class="media text-white pt-3">
          <img src="../../assets/logo.svg" alt=""  width="32" height="32" class="img-fluid mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@THEUQSTEAM</strong>
            Added Database Functions for the web and mobile app | January 29, 2020 
          </p>
        </div>
  
  
        <div class="media text-white pt-3">
          <img src="../../assets/logo.svg" alt=""  width="32" height="32" class="img-fluid mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@THEUQSTEAM</strong>
            First release of UQS on the web | January 28, 2020
          </p>
        </div>
  
   
  
      </div>
   

    </div>
  </section>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading text-white">Be a beta tester</h2>
          <p class="text-white">Our app beta is available on Windows and Android</p>
          <div class="badges">
            <a class="badge-link" target="_blank" href="https://drive.google.com/open?id=1crLvFfFH5p2f_DIsXlRHr77LdZ1SWp59"
              target="_blank"><img src="../../assets/dandroid.svg" alt=""></a>
            <a class="badge-link" target="_blank" href="https://drive.google.com/open?id=1TZsLJ8ruRSl10ci4J-a_sGQ-fFLIvhIX"
              target="_blank"><img src="../../assets/dwindows.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container text-white">
      <div class="row">
        <div class="col-md-4">
          <h4> Resources </h4>
          <div class="row">
            <div class="col-md-6">
              <ul class="text-left" style="list-style: none;">
                <li> Firebase </li>
                <li> Flutter </li>
                <li> Angular </li>
                <li> ElectronJs </li>
                <li> Dart </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="text-left" style="list-style: none;">
                <li> Material </li>
                <li> Bootstrap </li>
                <li> blackrockdigital </li>
                <li> DSC Challenge </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <h4> Be part of the team </h4>
          <ul class="text-left" style="list-style: none;">
            <li> Become a beta tester </li>
            <li> Register your service </li>
            <li> Download now </li>
          </ul>
        </div>
        <div class="col-md-2 ">
          <h4> Contact </h4>
          <p> Shoot us a message!</p>

          <h5> theuqs@gmail.com</h5>
        </div>
      </div>
      <br>
      <p>&copy; THE UQSTEAM 2020. All Rights Reserved.</p>
    </div>
  </footer>



</body>

</html>

<!-- 

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h3 class="text-white" style="font-size: 3.5rem;">Stop worrying.<br>Enjoy your time.</h3>
        <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  <section class="cta1">
    <div class="cta-content">
      <div class="container">
        <h3 class="text-white" style="font-size: 3.5rem;">Want your service in?</h3>
        <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Regsiter Now!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

-->